@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Poppins', sans-serif;
}

body {
  @apply bg-red h-screen relative;
}

body::before {
  content: '';
  @apply block w-screen h-screen absolute top-0 left-0;
  background-image: url('./img/bg-intro-mobile.png');
}

@media (min-width: 640px) { 
  body::before {
    background-image: url('./img/bg-intro-desktop.png');
  }
}